.componentDiv {
  display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: center;
	text-align: center;
	margin: 6px;
	padding-bottom: 6px;
}

.combatElementRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
  align-items: center;
	text-align: center;
	border: solid grey;
	border-radius: 3px;
	margin: 6px;
}

.combatElementColumn {
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	text-align: center;
	border: solid grey;
	border-radius: 3px;
	margin: 6px;
}

.table {
	width: 95%;
  height: 100%;
	border: 1px solid grey;
	border-collapse: collapse;
	border-radius: 3px;
	table-layout: fixed;
}

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 160px;
	background-color: black;
	color: white;
	font-size: 12px;
	padding: 6px 50px;
	border-radius: 3px;
	margin: 6px 0px;
	cursor: pointer;
}
